.header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    height: 100px;

    align-items: center;


    .fill {
        flex: 1 1 auto;
    }


    img {
        height: 100px;
        margin: 10px;
    }
}

.main {
    padding: 8px;
}

.wrap-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    align-items: center;
    padding: 16px;

    div {
        text-align: center;
        min-height: 20px;
        padding: 6px;
    }
}

.bar {
    display: flex;
    flex-direction: row;
    
}

.headline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    mat-card {
        flex: 1 1 auto;
    }
}

mat-card {
    margin: 6px;
}

.stats {
    padding-left: 16px;

    th {
        text-align: right;
        padding-right: 16px;
    }
}

.flex-nogrow {
    flex: 0 0 auto;
}

.center-content {
    align-content: center;
    align-items: center;
    text-align: center;
}