<div class="main">
  <div class="headline">
    <mat-card class="flex-nogrow center-content">
      <h2>
        {{this.pokemonDetails.name | pokemonName}}
      </h2>
      <div>
        <img [src]="this.pokemonDetails.sprites.front_default">
      </div>
    </mat-card>
    <mat-card class="flex-nogrow">
      <mat-card-header>
        <mat-card-title>Basic Information</mat-card-title>
      </mat-card-header>
      <div>
        
        <table class="stats">
          <tr *ngIf="this.pokemonDetails.species.name != this.pokemonDetails.name">
            <th>Species</th>
            <td>{{this.pokemonDetails.species.name}}</td>
          </tr>
          <tr>
            <th>Height</th>
            <td>{{this.pokemonDetails.height}} decimetres</td>
          </tr>
          <tr>
            <th>Weight</th>
            <td>{{this.pokemonDetails.weight}} hectograms</td>
          </tr>
          <tr>
            <th>Base Experience</th>
            <td>{{this.pokemonDetails.base_experience}}</td>
          </tr>
          <tr
            *ngIf="this.pokemonDetails.forms.length > 1 || (this.pokemonDetails.forms.length == 1 && this.pokemonDetails.forms[0].name != this.pokemonDetails.name)">
            <th>Forms</th>
            <td><span *ngFor="let pkmnForm of this.pokemonDetails.forms">{{pkmnForm.name}}</span></td>
          </tr>
        </table>
      </div>
    </mat-card>
    <mat-card class="flex-nogrow">
      <mat-card-header>
        <mat-card-title>Stats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let stat of this.pokemonDetails.stats" class="bar">
          <div [style.width]="100 * (stat.base_stat / 255) + '%'" [style.margin.px]="5" [style.background]="'red'">

          </div>
          <div>
            <span>{{stat.stat.name}} - {{stat.base_stat}}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Moves</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div style="padding: 16px">
        Moves are actions that pokemon can take. Most often they are used in battles. However, some can be used in
        special circumstances such as clearing obstacles.
      </div>
      <mat-divider></mat-divider>
      <div class="wrap-list">
        <div *ngFor="let move of this.pokemonDetails.moves">
          {{move.move.name}}
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>