<!--The content below is only a placeholder and can be replaced.-->

<div class="layout">
    <mat-toolbar>
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidebar.toggle()"><mat-icon>menu</mat-icon></button>
            <span>Pokedex</span>
            <span class="fill"></span>
            <button mat-icon-button (click)="this.toggleSearch()"><mat-icon>search</mat-icon></button>
        </mat-toolbar-row>
        <mat-toolbar-row [@expansion]="this.searchVisible ? 'open' : 'closed'">
            <input [(ngModel)]="this.search" placeholder="find a pokemon" class="search-input" >
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="nav-container">
        <mat-sidenav #sidebar mode="over" [style.width.px]="250">
            <mat-nav-list>
                <a mat-list-item [routerLink]="['/']" (click)="sidebar.close()">Pokemon</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
