body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

.nav-container {
    height: 100%;
    flex: 1 1 auto;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
