.header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    height: 100px;

    align-items: center;


    .fill {
        flex: 1 1 auto;
    }


    img {
        height: 100px;
        margin: 10px;
    }
}

.main {
    padding: 8px;
}

.wrap-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;

    div {
        text-align: center;
        min-width: 100px;
        min-height: 20px;
        padding: 6px;
    }
}

.bar {
    display: flex;
    flex-direction: row;
    
}

.headline {
    display: flex;
    flex-direction: row;

    mat-card {
        flex: 1 1 auto;
    }
}

mat-card {
    margin: 6px;
}