
<div class="layout">
    <mat-nav-list  [style.background]="'white'" class="layout-detail">
      <a mat-list-item *ngFor="let pokemon of this.pokemonList" [routerLink]="['/pokemon', pokemon.name]">
        <img src="{{pokemon.imageUrl}}" width="60px">
        <span [style.padding-left.px]='20'>{{pokemon.name | pokemonName}}</span>
      </a>
    </mat-nav-list>
    <mat-toolbar>
      <mat-toolbar-row class="centered">
        <div class="centered">
        <div class="space"></div>
        <button mat-icon-button (click)="this.lastPage()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button (click)="this.nextPage()">
          <mat-icon>keyboard_arrow_right </mat-icon>
        </button>
        <div class="space"></div>
      </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>